<!-- Render special form for every of goods, named _index_"model_name".html.erb from shared/ -->
<h1> Here you can see all our <% if params[:category] %>
      <%= pluralize( 20, params[:category]).delete('20') %>
      <% else %>
      Goods
      <% end %></h1>
<% if params[:category] %>
  <% if params[:category] %>
      <%= render partial: (partial_helper  params[:category] , 'search') %>
  <% end %>
<% end %>

<%= will_paginate @items , class: 'horizont-list' %>
<table class="table">
  <tr>
    <td>Picture</td>
    <td>Name</td>
    <td>Manufacturer</td>
    <td>Price</td>
    <td></td>
  </tr>
  <% @items.each do |elem| %>
      <%= render partial: partial_helper(elem.good.class.to_s,'index') , locals: {item_reference: elem} %>
  <% end %>
</table>
<%= will_paginate @items , class: 'horizont-list' %>

