<%= form_for @user, url: { action: :create } do |f| %>
    <div class="span1 offset4">
      <div>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>


      <div>
        <%= f.label :login %><br>
        <%= f.text_field :login %>
      </div>

      <div>
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>

      <div>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>

      <%= f.hidden_field :role, value: 'admin' %>

      <br>
        <%= f.submit 'Create new admin', :class => 'btn center'  %>

    </div>
    <br>
<% end %>
