<!-- sign in form -->
<%= form_for :session, url: session_index_path do |f| %>
    <br>
    <div class="center">
      <%= f.label 'password or login' %><br>
      <%= f.text_field :email %>
    </div>

    <div class="center">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <br>
    <div class="center">
      <button type="submit" class="center btn btn-large">Save session</button>
    </div>

<% end %>