<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Cart</th>
      <th>User</th>
      <th>Country</th>
      <th>Region</th>
      <th>Post code</th>
      <th>Lane</th>
      <th>Home</th>
      <th>Appartament</th>
      <th>Floor</th>
      <th>Personal payment</th>
      <th>Shipped</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.cart_id %></td>
        <td><%= order.user_id %></td>
        <td><%= order.country %></td>
        <td><%= order.region %></td>
        <td><%= order.post_code %></td>
        <td><%= order.lane %></td>
        <td><%= order.home %></td>
        <td><%= order.appartament %></td>
        <td><%= order.floor %></td>
        <td><%= order.personal_payment %></td>
        <td><%= order.shipped %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
