<h1>Listing orders</h1>
<div class="horizont-list">
  Status:
  <ul>
    <li><%= link_to 'All' , '/orders' %></li>
    <li><%= link_to 'Done' , '/orders?status=done' %></li>
    <li><%= link_to 'Undone' , '/orders?status=undone' %></li>
  </ul>
</div>
<br>
<div class="horizont-list">
  <%= will_paginate @orders , class: 'Horizont-list' %>
</div>

<br>
<table>
  <thead>
    <tr>
      <th>Cart</th>
      <th>User</th>
      <th>Order number</th>
      <th></th>
      <th></th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% if order.done %>
          <% status = 'done' %>
      <% else %>
          <% status = 'processing' %>
      <% end %>
      <tr class="<%= status %>">
        <td><%= order.cart_id %></td>
        <td><% user = User.find(order.user_id) %>
          <%= link_to user.name , user_path(user) %></td>
        <td><%= link_to 'Order #' + order.id.to_s , order_path(order) %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="horizont-list">
  <%= will_paginate @orders , class: 'Horizont-list' %>
</div>
