<%= form_for @cart, url: {action: :update} do |f| %>
    <p><b> Cart number <%= @cart.id %> </b></p>
    <% positions = 0 %>
    <% total_price = 0.0 %>
    <table>
      <tr>
        <td><b>Position:</b></td>
        <td><b>Name:</b></td>
        <td><b>Type:</b></td>
        <td><b>Quantity:</b></td>
        <td><b>Total price:</b></td>
      </tr>
      <% @cart.positions.each do |elem| %>
          <% positions += 1 %>
          <% item = Item.find(elem.item_id).good %>
          <% %>
          <tr>
            <td><%= positions %></td>
            <td><%= item.name %></td>
            <td><%= item.class %></td>
            <!-- Next element allow to send params[:position] = { {"Position_1.id" => "Position_1.quantity} ,{"Position_2.id" => "Position_2.quantity} , ...} -->
            <td><%= elem.quantity %></td>
            <td><%= total_price += elem.quantity * item.price %></td>
          </tr>
      <% end %>
      <tr>
        <td><b>Total positions: <%= @cart.get_total_positions  %> </b></td>
        <td></td>
        <td></td>
        <td><b>Total items: <%= @cart.get_total_items %></b></td>
        <td><b>Order price: <%= @cart.get_total_price %></b></td>
      </tr>
    </table>

<% end %>