<!-- Edit form for snowboards -->
<%= form_for @item , url: {action: :update} do |f| %>
    <br>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <br>
    <b><%= f.text_field :name , size: "20x1"%></b>
    <br>
    <br>
    <table>

      <tr>
        <td><%= f.label "Manufacturer"%></td>
        <!-- next field passes params[:item][:manufacturer] = value -->
        <td><%= f.text_field  :manufacturer %></td>
      </tr>

      <tr>
        <td><%= f.label :price %></td>
        <td><%= f.text_field  :price %></td>
      </tr>

      <tr>
        <td><%= f.label :length %></td>
        <td><%= f.text_field  :length %></td>
      </tr>

      <tr>
        <td><%= f.label :deflection %></td>
        <td><%= f.text_field :deflection %></td>
      </tr>

      <tr>
        <td><%= f.label :form %></td>
        <td><%= f.text_field :form %></td>
      </tr>

    </table>

    <%= f.label :description %><br>
    <%= f.text_area  :description , size: '20x5' %>
    <br>

    <input type="submit" class="btn btn-large" value="Save changes" >
    <br>
    <br>

<% end %>


