<!-- Edit form for snowboards -->
<%= form_for @item , url: {action: :update} do |f| %>
    <br>
    <br>
    <b><%= f.text_field :name , size: "20x1"%></b>
    <br>
    <div class="field">
      <%= f.label :picture %><br>
      <%= image_tag @item.picture.big.url if @item.picture %>
      <%= f.file_field :picture %>
      <%= f.hidden_field :picture_cache %>
    </div>
    <br>
    <table>
      <%= f.hidden_field :chumbawamba , value: 1 %>

      <tr>
        <td><%= f.label "Manufacturer"%></td>
        <!-- next field passes params[:item][:manufacturer] = value -->
        <td><%= f.text_field  :manufacturer %></td>
      </tr>

      <tr>
        <td><%= f.label :price %></td>
        <td><%= f.text_field  :price %></td>
      </tr>

      <tr>
        <td><%= f.label :length %></td>
        <td><%= f.text_field  :length %></td>
      </tr>

      <tr>
        <td><%= f.label :deflection %></td>
        <td><%= f.text_field :deflection %></td>
      </tr>

      <tr>
        <td><%= f.label :form %></td>
        <td><%= f.text_field :form %></td>
      </tr>

    </table>

    <%= f.label :description %><br>
    <%= f.text_area  :description , size: '20x5' %>
    <br>

    <input type="submit" class="btn btn-primary" value="Save changes" >
    <br>
    <br>

<% end %>


