<!-- Edit form for headdresses -->
<%= form_for @item , url: {action: :update} do |f| %>
    <br>
    <br>
    <b><%= f.text_field  :name , size: "20x1"%></b>
    <br>
    <div class="field">
      <%= f.label :picture %><br>
      <%= image_tag @item.picture.big.url if @item.picture %>
      <%= f.file_field :picture %>
      <%= f.hidden_field :picture_cache %>
    </div>
    <br>
    <table>

      <tr>
        <td><%= f.label "Manufacturer"%></td>
        <!-- next field passes params[:item][:manufacturer] = value -->
        <td><%= f.text_field  :manufacturer %></td>
      </tr>

      <tr>
        <td><%= f.label :price %></td>
        <td><%= f.text_field  :price %></td>
      </tr>

      <tr>
        <td><%= f.label :warmnes %></td>
        <td><%= f.text_field  :warmnes %></td>
      </tr>

      <tr>
        <td><%= f.label :collection %></td>
        <td><%= f.text_field  :collection%></td>
      </tr>

      <tr>
        <td><%= f.label :matherial %></td>
        <td><%= f.text_field :matherial %></td>
      </tr>


    </table>


    <input type="submit" class="btn btn-primary" value="Save changes" >
    <br>
    <br>

<% end %>