<% item = item_reference.good %>
<li>
  <hr>
  <p><%= link_to item.name , item_path(item_reference) %>, Manufacturer: <%= item.manufacturer %>,
    price: <%= item.price %>, <%= link_to 'Add to cart' ,
                                          add_to_cart_path + "?item_id=#{item.id}&item_type=#{item.class}&quantity=1" ,
                                          class: 'btn btn-large'%>
    <% if !current_user.nil? && current_user.admin? %>
        <%= link_to 'Destroy', item_path(item_reference), method: :delete %>
    <% end %></p>
  <hr>
</li>