<%= form_tag @filter , url: '/catalogue' , class: 'form-horizontal' do |f| %>
    <input type="hidden" id="items_type" name="items[type]" value="Snowboard">
    <div class="search row">
      <% item_list = Item.where(good_type: 'Snowboard') %>
      <br>
      <div class="control-group span1">
        <label class="control-label">Deflection:</label>
        <div class="controls">
          <select id="items_deflection" name="items[deflection]" class="input-mini">
            <option> <%= nil %> </option>
            <% (1..10).each do |elem| %>
                <option> <%= elem %> </option>
            <% end %>
          </select>
        </div>
        <label class="control-label">Manufacturer:</label>
        <div class="controls">
          <select id="items_manufacturer" name="items[manufacturer]" class="input-middle">
            <option> <%= nil %> </option>
            <% item_list.map{|elem| elem.good.manufacturer}.uniq.each do |elem| %>
                <option> <%= elem %> </option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="control-group span1 offset2">
        <label class="control-label">Type:</label>
        <div class="controls">
          <select id="items_form" name="items[form]" class="input-small">
            <option> <%= nil %> </option>
            <% item_list.map{|elem| if elem.good.class.to_s == 'Snowboard'
                                      elem.good.form
                                    end}.uniq.each do |elem| %>
                <option> <%= elem %> </option>
            <% end %>
          </select>
        </div>
        <div class="controls">
          <button value="Show" onclick="location.href=<%= '/catalogue?category=Snowboard' %>" > Search </button>
        </div>

      </div>
      <div class="span1 offset3">

      </div>
    </div>
<% end %>
