<%= form_for @user, url: {controller: :user, action: :create } do |f| %>

    <br>
    <div class="span2 offset4">
      <div>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :login %><br>
        <%= f.text_field :login %>
      </div>

      <div>
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>

      <div>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>

      <br>
      <div class="center">
        <%= f.submit 'Create my account', :class => 'btn'  %>
      </div>

    </div>
<% end %>