<!DOCTYPE html>
<html>
<head>
  <title>SnowFlow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= render partial: 'layouts/header' %>
</header>

<!-- showing allert if any -->
<% if flash.any? %>
    <% flash.each do | key , value |%>
        <div class="allert allert-<%= key %>"><%= value %></div>
    <% end %>
<% end %>
<div class="content">
  <%= yield %>
</div>


<footer>
  <%= render partial: 'layouts/footer' %>
</footer>



</body>
</html>
